body, html, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  margin: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: medium;
  margin: 5px;
}

header button {
  align-self: flex-end;
  margin: 10px;
  height: 20px;
  width: 60px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.search-list {
  margin-top: 20px;
}

.search-list button {
  color: red;
  margin: 10px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-item {
  width: 450px;
  height: 650px;
  margin: 10px;
  border: solid 2px rgb(88, 82, 75);
  border-radius: 10px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  text-align:center;
  justify-content:center;
  padding: 10px;
}

.movie-item img {
  width: 200px;
  height: 280px;
}